{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <br>
    
    <div class="form-group">
        <form action="" method="post">
            {% csrf_token %}

            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>

            <!-- {{ form.as_p }} -->
            <button class="btn btn-secondary">Login</button>
        </form>
    </div>
    
{% endblock %}