{% extends 'base.html' %}
{% block title %}
    Create a new Blog Post
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Add Blog Post</h1>
    <br>
    
    <div class="form-group">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Post</button>
        </form>
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById("user").value = name;
    </script>
{% else %}
    You are not allowed to access this page.
{% endif %}
    
{% endblock %}