{% extends 'base.html' %}
{% block title %}
    Comment on Blog
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div style="background: #d4d4ffb7; padding: 15px;">
        <h1>Add Comment</h1>
        <br>
        
        <div class="form-group">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Add Comment</button>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}